<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Karty.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Karty.Properties.Settings>
            <setting name="Class" serializeAs="String">
                <value>GenerateNumber.Generate</value>
            </setting>
            <setting name="Method" serializeAs="String">
                <value>GenerateGuid</value>
            </setting>
            <setting name="Path" serializeAs="String">
                <value>C:\Users\darkk\source\repos\Karty\GenerateNumber\bin\Debug\net9.0\GenerateNumber.dll</value>
            </setting>
        </Karty.Properties.Settings>
    </applicationSettings>
</configuration>